/* ...existing CSS... */

.active-link {
  background-color: #f0f0f0; /* Change this to your desired color */
}
/* Group 6 */

/* ...existing CSS... */
/* Rectangle 3 */

position: absolute;
width: 609px;
height: 133px;
left: 415px;
top: 233px;

background: rgba(255, 140, 158, 0.74);
box-shadow: 2px 5px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;
