body {
  margin: 0;
  padding: 0;
  position: sticky;
}

.Page_Main {
  position: sticky;
  margin: 0;
  display: grid;
  grid-template-columns: 15rem 1fr;
  gap: 2rem;
  background-color: #6ebcae;
  background-image: url("/public/cloud3.png"), url("/public/cloud3.png"),
    url("/public/cloud4.png");
  background-position: 130vh 40vh, 50vh 50vh, 80vh -10vh;
  background-repeat: no-repeat;
  background-size: 50vh 50vh;
  min-height: 100vh;
}

.navBar {
  background-color: #ffa4b2;
  border-right: solid 8px;
}

.nav-logo {
  width: 200px;
  height: 200px;
}

.nav-list {
  position: sticky;
  min-height: fit-content;
  top: 0;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 3.5rem;
  list-style: none;
}
a.active {
  text-decoration: none;
  color: #6ebcae;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  border-radius: 100vw 0 0 100vw;
}
.nav-link {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-align: center;
  border-radius: 100vw 0 0 100vw;
  color: black;
}
.nav-list li {
  margin-left: 0.6rem;
  border-radius: 100vw 0 0 100vw;
  border: solid 3px;
  border-right: 0px;
  background-color: #ff8c9e;
  border-color: #ff8c9e;
  font-size: 2.2rem;
}
.nav-link:hover {
  color: #6ebcae;
}

@font-face {
  font-family: "Fuzzy Bubbles";
  src: url("FuzzyBubbles-Regular.woff");
}
@font-face {
  font-family: "Fuzzy Bubbles bold";
  src: url("FuzzyBubbles-Bold.woff");
}


h1.TitleWelcome {
  margin: 0;
  padding: 2.5rem 2.5rem;
  position: absolute;
  left: 49rem;
  top: 21rem;
  text-align: center;
  background: #ff8c9e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: "Fuzzy Bubbles";
  font-style: none;
  font-weight: 400;
  font-size: 6rem;
  color: #b4d6cd;
}

a.StartButton {
  text-decoration: none;
  position: absolute;
  margin: 0;
  padding: 2.5rem 2.5rem;
  left: 58.8rem;
  top: 36rem;
  background: #ff8c9e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: "Fuzzy Bubbles";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  color: #b4d6cd;
}

form.LoginForm {
  justify-items: center;
  width: 100%;
  padding-top: 8rem;
}

section.LoginForm {
  border: solid 8px #ff8c9e;
  border-radius: 25px;
  background-color: #ffffff;
  padding: 25px;
}

div.LoginForm > div {
  display: grid;
  grid-auto-flow: column;
  gap: 2.5rem;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  font-weight: bolder;
}

div.LoginForm {
  background-color: #6ebcae;
  text-align: left;
  margin: 0;
  padding: 80px;
  border: solid 4px #ff8c9e;
  display: grid;
  gap: 2rem;
  height: fit-content;
  width: fit-content;
}

div.LoginForm > h1 {
  text-align: center;
  font-family: "Fuzzy Bubbles bold";
  font-size: 2.5rem;
  font-weight: bolder;
}

.FormDivButton{
  justify-content: center;
}
button.LoginForm{
  text-decoration: none;
  width: fit-content;
  padding: 0.5rem 0.5rem;
  background: #ff8c9e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  font-family: "Fuzzy Bubbles";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
}

span.petit{
  color: #ffffff;
}
span.suisse{
  color:#ff8c9e;
}

.card {
  border: 1px solid rgba(41, 40, 40, 0.685);
  box-shadow: 8px 8px 8px rgb(150, 79, 138);
  background: #ffa4b2;
  flex: 1 0 30rem;
  min-height: 22rem;
  height: fit-content;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin: 15px 0;
  max-width: 19rem;
}

@media (max-width: 768px) {
  .card {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .card {
    justify-content: center;
  }
}

.CardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-around;
}

.card .card-img {
  max-width: 60%;
  border-radius: 50%;
  height: auto;
  text-align: center;
  border: solid 10px #ff8c9e;
}

.card .card-title {
  font-family: "Courier New", Courier, monospace;
  margin: 0px;
  color: orange;
}

.card .card-des {
  font-family: "Courier New", Courier, monospace;
  color: rgba(41, 40, 40, 0.685);
}

.card .btn {
  cursor: pointer;
  border: none;
  padding: 10px;
  background-color: teal;
  color: white;
  border-radius: 15px;
  font-size: medium;
  transition: 150ms ease;
  box-shadow: 5px 5px 5px orange;
}
.card .btn:hover {
  scale: 1.25;
}

footer {
  position: relative;
  bottom: 0;
}
